.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--lighter-gray);
    height: 100vh;
    width: 100%;

   overflow: hidden;

}

.header-left{
    flex: 1 1;
    flex-direction: column;
    margin: 1rem 5rem;
}

.header-text{
    color: var(--dark-blue);
    font-size: 5rem;
    font-weight: 300;
}

.desc-text{
    color: var(--grayish-blue);
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.header-right{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position: relative;

    /* background-image: url(../../assets/bg-intro-desktop.svg); */
}


.header-right-imgBg{
    flex: 1;
    z-index: 0;
    position: absolute;
    top: -19rem;
    right: -30rem;
    object-fit: contain;
}

.header-right_imgOverflow{
    flex: 1.5;
    z-index: 5;
    position: absolute;
    top: -10rem;
    right: -10rem;
}

@media screen and (max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
    }

    .header-left{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .header-left .header-text{
        font-size: x-large;
    }

    .header-left .desc-text{
        font-size: small;
    }

    .header-right{
        display: flex;
        flex-direction: column;
    }

    .header-right-imgBg{
        width: 100%;
        top: -10rem;
        left: -10rem;

    }

    .header-right_imgOverflow{
        width: 150px;
        height: 150px;
        object-fit: cover;
        top: -5rem;
        left: -12rem;
    }
}